<a href="https://colab.research.google.com/github/Spokai3/PhanTichDuLieuVaHocSau/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Example 1**

In [1]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

**Example 2**

In [2]:
import pandas as pd
s=pd.Series([12,-4,7,9], index=['a','b','c','d'])
print (s)

a    12
b    -4
c     7
d     9
dtype: int64

In [3]:
print(s.values)

[12 -4  7  9]

In [4]:
print(s.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

**Example 3**

In [5]:
data={'color':['blue','green','yellow','red','white'],
      'object':['ball','pen','pencil','paper','mug'],
      'price':[1.2,1.0,0.6,0.9,1.7]}
frame=pd.DataFrame(data)
print(frame)

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

**Example 4**

In [6]:
frame2 = pd.DataFrame (data, columns = ['object','price'])
print(frame2)

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

**Example 5**

In [7]:
frame2['type'] = 'normal'
print(frame2)

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

**Example 6**

In [8]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good'
print(frame2)

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

**Example 7**

In [9]:
frame2['discout'] = frame2['price']*0.02
print(frame2)

   object  price    type  discout
0    ball    1.2    good    0.024
1     pen    1.0  normal    0.020
2  pencil    0.6  normal    0.012
3   paper    0.9  normal    0.018
4     mug    1.7    good    0.034

**Example 8**

In [10]:
frame2['price_afterdiscout'] = frame2['price'] - frame2['discout']
print(frame2)

   object  price    type  discout  price_afterdiscout
0    ball    1.2    good    0.024               1.176
1     pen    1.0  normal    0.020               0.980
2  pencil    0.6  normal    0.012               0.588
3   paper    0.9  normal    0.018               0.882
4     mug    1.7    good    0.034               1.666

**Example 9**

In [11]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv")
print(dulieuxettuyen.head(10))

   STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  ...   F NaN  2NT  3.25  3.25  4.50  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  ...   M NaN    1  6.00  4.00  3.50   C
2    3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M NaN    1  5.00  6.75  4.00   C
3    4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M NaN    1  4.25  4.25  5.25  D1
4    5  6.0  5.0  6.0  7.3  6.5  7.7  ...   M NaN  2NT  4.25  4.50  5.00   A
5    6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
6    7  2.8  3.9  5.5  6.9  5.0  7.3  ...   F NaN    2  6.50  6.75  5.25   C
7    8  8.3  6.0  7.6  5.1  7.5  4.7  ...   F NaN    2  3.75  4.50  4.25  D1
8    9  6.5  6.3  7.6  6.0  5.5  7.1  ...   F NaN    1  3.50  3.50  6.75  D1
9   10  7.3  5.9  4.7  7.1  6.7  7.9  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 56 columns]

Read data without header

In [12]:
import pandas as pd 
heartDisease = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv", header = None)
print(heartDisease)

      0    1    2    3    4    5    6   ...  49   50   51    52    53    54  55
0    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
1      1  7.2  7.3  6.3  7.3    7  7.9  ...   F  NaN  2NT  3.25  3.25   4.5  A1
2      2  5.4  3.9  3.9    4  5.4  5.4  ...   M  NaN    1     6     4   3.5   C
3      3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  NaN    1     5  6.75     4   C
4      4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  NaN    1  4.25  4.25  5.25  D1
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96    96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  NaN    1  5.25   1.5  6.25   C
97    97  3.7  5.4    6  5.1  5.5  3.9  ...   F  NaN    1  5.25  3.75  4.75   C
98    98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  NaN  2NT     7     8     4   C
99    99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  NaN    1     5   3.5   5.5   C
100  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  NaN  2NT  5.25   2.5  4.25   C

[101 rows x 56 columns]

**Example 10**

In [13]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                index =['white', 'black', 'red', 'blue'],
                columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

**Example 11**

In [14]:
import pandas as pd
vd11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print(vd11)

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

**Example 12**

In [15]:
import pandas as pd
vd12 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example12.txt', sep=',', skiprows=[0,1,3,6])
print(vd12)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

**Example 13**

In [16]:
import pandas as pd
vd13 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example13.txt', skiprows=[2], nrows=3)
print(vd13)

  white,red,blue,green,animal
0                 1,5,2,3,cat
1               3,3,6,7,horse
2                2,2,8,3,duck

**Example 14**

In [17]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red','blue','yellow','white'], columns = ['ball','pen','pencil','paper'])
print(frame)

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [18]:
newframe = pd.DataFrame(frame, columns = ["paper",'pen'])
print(newframe)

        paper  pen
red         3    1
blue        7    5
yellow     11    9
white      15   13

**Example 14**: Set NaN for value less than 11

In [19]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

**Example 15**

In [20]:
dropAllNaNFrame = filteredFrame.dropna()
print(dropAllNaNFrame)

      ball  pen  pencil  paper
red    0.0  1.0     2.0    3.0
blue   4.0  5.0     6.0    7.0

**Example 16**

In [21]:
dropAllNaNFrame = filteredFrame.dropna(how='all')
print(dropAllNaNFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN

**Example 17**

In [22]:
filteredFrame.isnull().sum()

ball      1
pen       1
pencil    1
paper     2
dtype: int64

**Example 18**

In [23]:
print(filteredFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    NaN
white    NaN  NaN     NaN    NaN

In [24]:
fillnazeroFrame = filteredFrame.fillna(0)
print(fillnazeroFrame)

        ball  pen  pencil  paper
red      0.0  1.0     2.0    3.0
blue     4.0  5.0     6.0    7.0
yellow   8.0  9.0    10.0    0.0
white    0.0  0.0     0.0    0.0

**Example 19**

In [36]:
from google.colab import drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [33]:
frame.to_csv('/drive/My Drive/DataAnalyst/lab01_example8.csv')

**Homework**

In [98]:
hw = pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv',index_col='STT')
print(hw)

      T1   L1   H1   S1   V1   X1   D1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F NaN  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M NaN    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M NaN    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M NaN    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M NaN  2NT  4.25  4.50  5.00   A
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F NaN    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F NaN    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M NaN  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M NaN    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M NaN  2NT  5.25  2.50  4.25   C

[100 rows x 55 columns]

1.Xác định và phân loại dữ liệu định tính và định lượng

In [97]:
print(hw.dtypes)

T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

2.Định nghĩa các thang đo phù hợp cho từng biến số

3.Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng

In [96]:
print(hw.head(10))
print(hw.tail(10))

      T1   L1   H1   S1   V1   X1   D1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F NaN  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M NaN    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M NaN    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M NaN    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M NaN  2NT  4.25  4.50  5.00   A
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  ...   M NaN    1  1.50  4.00  6.00  D1
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  ...   F NaN    2  6.50  6.75  5.25   C
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  ...   F NaN    2  3.75  4.50  4.25  D1
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  ...   F NaN    1  3.50  3.50  6.75  D1
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  ...   F NaN    1  4.00  4.75  5.50  D1

[10 rows x 55 columns]
      T1   L1   H1   S1   V1   X1   D1  ...  GT  DT   KV   DH1   DH2   DH3  KT
STT                                     ...
91   8.1  7.7  9.1  8.5  6.1  8.6  8.8  ...   M NaN    2  6.25  4.00  6.50   A
92   7.8  6.5  6.7  5.4  6.2  4.8  5.9  ...   M NaN  2NT  4.75  4.75  4.50   A
93   5.0  6.6  6.5  7.2  5.8  6.7  6.4  ...   M NaN    1  3.25  5.25  4.25   A
94   5.2  5.2  6.8  7.9  6.6  8.9  7.6  ...   M NaN    1  3.50  4.25  5.00   A
95   5.8  5.9  7.6  6.1  5.3  8.1  6.1  ...   M NaN    1  4.25  2.50  4.75   A
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  ...   F NaN    1  5.25  1.50  6.25   C
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  ...   F NaN    1  5.25  3.75  4.75   C
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  ...   M NaN  2NT  7.00  8.00  4.00   C
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  ...   M NaN    1  5.00  3.50  5.50   C
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  ...   M NaN  2NT  5.25  2.50  4.25   C

[10 rows x 55 columns]

4.Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0.

In [103]:
hw = pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/dulieuxettuyendaihoc.csv',index_col='STT', nrows=65)
hw1 = pd.DataFrame(hw)
hw1.fillna(0)

      T1   L1   H1   S1   V1   X1   D1  ...  GT   DT   KV   DH1   DH2   DH3  KT
STT                                     ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...   F  0.0  2NT  3.25  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...   M  0.0    1  6.00  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  ...   M  0.0    1  5.00  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  ...   M  0.0    1  4.25  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  ...   M  0.0  2NT  4.25  4.50  5.00   A
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
61   6.2  7.8  7.8  8.0  5.1  7.4  5.8  ...   M  0.0    1  2.50  3.50  6.50   A
62   7.2  5.5  6.5  6.9  8.0  7.2  6.8  ...   F  0.0    1  3.50  3.50  4.25   A
63   6.4  7.2  8.1  8.5  6.2  8.8  7.9  ...   M  0.0    1  4.25  2.75  3.25   A
64   7.5  7.6  7.8  7.9  5.7  8.1  5.8  ...   M  0.0    1  2.25  3.50  5.00   A
65   7.1  6.2  8.4  7.3  6.4  6.7  8.5  ...   M  6.0    2  4.25  3.75  6.00   A

[65 rows x 55 columns]

Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean.

In [126]:
h1= pd.DataFrame(hw)
hw1.mean(axis=1)

STT
1     6.709804
2     4.943137
3     5.483333
4     5.871569
5     6.461765
        ...
61    6.550980
62    6.789216
63    6.997059
64    6.940196
65    7.011538
Length: 65, dtype: float64